/************************
    CSS SUMMARY:
      1.GENERAL
************************/



/************************
    GENERAL
************************/

/* If you want to know more about this rule : http://blog.teamtreehouse.com/take-control-of-the-box-model-with-box-sizing */
 * {
   box-sizing: border-box;
   font-family: 'Open Sans', sans-serif;
 }

body {
  background-color: #F7F5F0;
}

.main-wrapper {
  width: 90%;
  max-width: 1024px;
  margin: 0 auto;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}



/************************
    HEADER & MAIN NAVIGATION
************************/

.page-header {
  padding: 15px 0 30px;
  text-align: center;
}

/* Remove the margin top and bottom applied by default */
.page-header h1 {
  font-size: 1.4em;
  margin-top: 0;
  margin-bottom: 0;
}

.page-header h1 a {
  color: #000;
}

/* Remove the padding left applied by default */
.main-nav ul {
  padding-left: 0;
}

.main-nav li {
  background: #fff;
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.main-nav a {
  font-weight: bold;
  color: #000;
  display: block;
  text-transform: uppercase;
}

.main-nav a:hover {
  color: #777;
}



/************************
    STUDENT PRESENTATION
************************/

.student-presentation {
  text-align: center;
  font-weight: 300;
}



/************************
    STUDENT PORTFOLIO
************************/

.student-portfolio {
  margin-top: 100px;
  margin-bottom: 100px;
  text-align: center;
}

.student-portfolio h2 {
  text-transform: uppercase;
  margin-bottom: 50px;
  font-size: 1em;
}

.student-projects {
  margin-bottom: 60px;
  font-size: 1em;
}

.student-projects:last-child {
  margin-bottom: 0;
}


/************************
    STUDENT CONTACT PAGE
************************/

.student-contact-page {
  text-align: center;
  font-weight: 300;
}

.student-contact-page h2 {
  text-transform: uppercase;
  font-size: 1em;
  margin-bottom: 40px;
}

.contact-student-items {
  padding-left: 0;
}

.contact-student-items a {
  margin-left: 10px;
  color: #000;
  font-weight: 400;
}



/************************
    FOOTER
************************/

footer {
  border-top: 1px solid #999;
  margin-top: 80px;
  margin-bottom: 30px;
}

.footer-nav ul {
  padding-left: 0;
  position: relative;
}

.footer-nav li {
  display: inline-block;
  font-weight: bold;
}

.footer-nav li:nth-child(2) {
  position: absolute;
  right: 0;
}

.footer-nav a {
  color: #000;
  text-transform: uppercase;
}
